@import '../default.styles/variables.scss';

.panel{
    width: 100%;
    min-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__welcome{
        width: 550px;
        text-align: center;
        font-size: 1.4em;
        margin: 0 auto;
        &--mark{
            text-decoration: underline;
            color: $pink;
        }
    }
    &__loading{
        font-size: 1.2em;
        text-align: center;
    }
}

@media (max-width: $screen-sm-min) {
    .panel{
        min-width: 320px;
        &__welcome{
            font-size: 1.1em;
            width: 300px;
            margin-top: 50px;
        }
    }
}