.vote{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Lilita One', cursive;
    &__label{
        font-size: 1.4em;
        margin-bottom: 10px; 
    }
}